/*This is the attractions css*/

.tileItem {
    width: 250px;
}

#mainBody-attractionFilters {
    margin-top: 400px;
    
}

.safariTitle  {
    font-family: Africian, Helvetica Neue, Helvetica, Arial,sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
}