/*This is the attractions css*/

.tileItem {
  width: 250px;
}


/*Set margins fort the attractions content section */
.attractionsContent section {
  margin: 3em 2em 0;
}
.attractionsContent > section:last-of-type {
  margin: 3em 2em 3em;
}
