/*This is the homepage css*/

.welcome img {
  width: 800px;
}
@media (max-width: 800px) {
  .welcome img {
    max-width: 100%;
  }
  .events img {
    max-width: 100%;
  }
}

/*Give the events section styling*/

.events a {
  background: url("/assets/images/visits/ticket.png");
  background-repeat: no-repeat;
  list-style: none;
  text-align: left;
  padding: 15px 5px 20px 55px;
  color: #22d911;
}
